<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Attendance Management System{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

    <!-- HEADER / NAVBAR -->
    <header>
        <nav>
            <ul>
                <li><a href="{{url_for('student.attendance')}}">Attendance</a></li>
                <li><a href="{{url_for('student.change_ip')}}">Chnage IP</a></li>
                <li><a href="{{url_for('student.change_password')}}">Change Password</a></li>
                <li><a href="{{url_for('student.dashboard')}}">Dashboard</a></li>
                <li><a href="{{url_for('student.leave')}}">Leave</a></li>
                <li><a href="{{ url_for('student.profile')}}">Profile</a></li>
                <li><a href="{{ url_for('student.scan_qr')}}">Scanner</a></li>
                <li><a href="{{ url_for('student.timetable')}}">Timetable</a></li>
            </ul>
        </nav>
    </header>

    <!-- PAGE CONTENT -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    <footer>
        <p>&copy; {{ 2025 }} Attendance Management System</p>
    </footer>

</body>
</html>
