{% extends "base.html" %}

{% block title %}Login - AMS{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}  <!-- IMPORTANT: includes CSRF token -->
        <div class="form-group">
            {{ form.email.label }} 
            {{ form.email(class="input") }}
        </div>
        <div class="form-group">
            {{ form.password.label }} 
            {{ form.password(class="input") }}
        </div>
        <div class="form-group">
            <a href="{{ url_for('auth.admin_reset_password') }}">Reset Password ?</a>
        </div>
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
</div>
{% endblock %}
